.flows.json.backup
[
    {
        "id": "ac8e5f0c566dcfc1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13199d1ff1abf8bb",
        "type": "inject",
        "z": "ac8e5f0c566dcfc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "ea53f8ddb65f1711"
            ]
        ]
    },
    {
        "id": "ea53f8ddb65f1711",
        "type": "function",
        "z": "ac8e5f0c566dcfc1",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "c614dbcf6805bf45"
            ]
        ]
    },
    {
        "id": "c614dbcf6805bf45",
        "type": "function",
        "z": "ac8e5f0c566dcfc1",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 120,
        "wires": [
            [
                "96f5277d3597cb46"
            ]
        ]
    },
    {
        "id": "96f5277d3597cb46",
        "type": "function",
        "z": "ac8e5f0c566dcfc1",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 120,
        "wires": [
            [
                "7da21fb7772f444d"
            ]
        ]
    },
    {
        "id": "7da21fb7772f444d",
        "type": "link out",
        "z": "ac8e5f0c566dcfc1",
        "name": "link out 1",
        "mode": "link",
        "links": [],
        "x": 915,
        "y": 120,
        "wires": []
    }
]