flows.json
[
    {
        "id": "ac8e5f0c566dcfc1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1be6dca12996ded9",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13199d1ff1abf8bb",
        "type": "inject",
        "z": "ac8e5f0c566dcfc1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 120,
        "wires": [
            [
                "ea53f8ddb65f1711"
            ]
        ]
    },
    {
        "id": "ea53f8ddb65f1711",
        "type": "function",
        "z": "ac8e5f0c566dcfc1",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "c614dbcf6805bf45"
            ]
        ]
    },
    {
        "id": "c614dbcf6805bf45",
        "type": "function",
        "z": "ac8e5f0c566dcfc1",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 120,
        "wires": [
            [
                "96f5277d3597cb46"
            ]
        ]
    },
    {
        "id": "96f5277d3597cb46",
        "type": "function",
        "z": "ac8e5f0c566dcfc1",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 120,
        "wires": [
            [
                "7da21fb7772f444d"
            ]
        ]
    },
    {
        "id": "7da21fb7772f444d",
        "type": "link out",
        "z": "ac8e5f0c566dcfc1",
        "name": "link out 1",
        "mode": "link",
        "links": [],
        "x": 915,
        "y": 120,
        "wires": []
    },
    {
        "id": "e943a72343601fa8",
        "type": "inject",
        "z": "1be6dca12996ded9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "4048766eaec21386"
            ]
        ]
    },
    {
        "id": "4048766eaec21386",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 4",
        "func": "node.warn(\"FUNC 1\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [
            [
                "0ddf40f0795ebf85"
            ]
        ]
    },
    {
        "id": "0ddf40f0795ebf85",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 5",
        "func": "node.warn(\"FUNC 2\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 80,
        "wires": [
            [
                "894adecd067132b2"
            ]
        ]
    },
    {
        "id": "894adecd067132b2",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 6",
        "func": "node.warn(\"FUNC 3\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 80,
        "wires": [
            [
                "a9b413c7920b61d7"
            ]
        ]
    },
    {
        "id": "a9b413c7920b61d7",
        "type": "link out",
        "z": "1be6dca12996ded9",
        "name": "link out 2",
        "mode": "link",
        "links": [],
        "x": 845,
        "y": 80,
        "wires": []
    },
    {
        "id": "e3fe970868abc89c",
        "type": "http in",
        "z": "1be6dca12996ded9",
        "name": "",
        "url": "sadsa",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "b1735b1a064b6c81"
            ]
        ]
    },
    {
        "id": "b1735b1a064b6c81",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 7",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "32c49daa2e6c3abc"
            ]
        ]
    },
    {
        "id": "32c49daa2e6c3abc",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 8",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 260,
        "wires": [
            [
                "64a9ee3f93dde9c8"
            ]
        ]
    },
    {
        "id": "64a9ee3f93dde9c8",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 9",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "92148e7313198077",
        "type": "http in",
        "z": "1be6dca12996ded9",
        "name": "",
        "url": "sadsa",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "398b6baec0a50a0c"
            ]
        ]
    },
    {
        "id": "398b6baec0a50a0c",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 10",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 320,
        "wires": [
            [
                "491fd371a3f6accd"
            ]
        ]
    },
    {
        "id": "491fd371a3f6accd",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 11",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 320,
        "wires": [
            [
                "3ccb27f4365c55e2"
            ]
        ]
    },
    {
        "id": "3ccb27f4365c55e2",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 12",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a595ac2a5c948da6",
        "type": "http in",
        "z": "1be6dca12996ded9",
        "name": "",
        "url": "sadsa",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "8b1e50679c6e0865"
            ]
        ]
    },
    {
        "id": "8b1e50679c6e0865",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 13",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 380,
        "wires": [
            [
                "9a8908341519c24f"
            ]
        ]
    },
    {
        "id": "9a8908341519c24f",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 14",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 380,
        "wires": [
            [
                "97d01ad2e0a30c25"
            ]
        ]
    },
    {
        "id": "97d01ad2e0a30c25",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 15",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "07d6f89d5fd1c970",
        "type": "http in",
        "z": "1be6dca12996ded9",
        "name": "",
        "url": "sadsa",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "d667c00124277149"
            ]
        ]
    },
    {
        "id": "d667c00124277149",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 16",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 440,
        "wires": [
            [
                "7c768d6df1dabc56"
            ]
        ]
    },
    {
        "id": "7c768d6df1dabc56",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 17",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 440,
        "wires": [
            [
                "2210fb5abe23c67a"
            ]
        ]
    },
    {
        "id": "2210fb5abe23c67a",
        "type": "function",
        "z": "1be6dca12996ded9",
        "name": "function 18",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 440,
        "wires": [
            []
        ]
    }
]